@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
* {
  font-family: "Outfit", sans-serif;
}
@theme {
  --color-primary: #2563eb;
  --color-primary-dull: #1f58d8;
  --color-light: #f1f5f9;
  --color-borderColor: #c4c7d2;
}
